nav {
    height: 110px;
    display: flex;
    flex-flow: row wrap;
    z-index: 999;
    position: sticky;
    left: 0;
    top: 0;
    background-color: white;
    #title-div {
        flex: 1;
        #title {
            margin-left: 7rem;
            margin-top: 35px;
            color: rgb(63, 63, 63);
            font-weight: 600;
            font-size: 1.6rem;
            width: fit-content;
            cursor: pointer;
        }
    }
    #check-ticket-status-div {
        #check-ticket-status-button {
            margin-right: 7rem;
            margin-top: 35px;
            background-color: rgb(40, 64, 191);
            color: white;
            font-size: 1.1rem;
            width: 11.6rem;
            height: 48px;
            border-radius: 6px;
            border: none;
            &:hover {
                transition-duration: 0.3s;
                background-color: rgb(65, 95, 226);
            }
        }
    }
}
@media print {
    nav {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    nav {
        #title-div {
            #title {
                margin-left: 3rem;
            }
        }
        #check-ticket-status-div {
            #check-ticket-status-button {
                margin-right: 3rem;
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    nav {
        #title-div {
            #title {
                margin-left: 1.5rem;
            }
        }
        #check-ticket-status-div {
            #check-ticket-status-button {
                margin-right: 1.5rem;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    nav {
        #title-div {
            #title {
                margin-left: 1.8rem;
            }
        }
        #check-ticket-status-div {
            #check-ticket-status-button {
                margin-right: 1.8rem;
            }
        }
    }
}
@media only screen and (max-width: 575px) {
    nav {
        #title-div {
            #title {
                width: 7rem;
                margin-left: 0.8rem;
            }
        }
        #check-ticket-status-div {
            #check-ticket-status-button {
                margin-right: 0.8rem;
            }
        }
    }
}