section {
    background-color: white;
    height: 750px;
    position: relative;
    >img {
        left: 0;
        top: 0;
        transform: translate(0,0);
        position: absolute;
        height: 100%;
        width: 27.5rem;
        object-fit: cover;
    }
    >div {
        #information {
            position: absolute;
            right: 0px;
            top: 40%;
            transform: translateY(-50%);
            height: 220px;
            width: 40rem;
            display: flex;
            flex-flow: column wrap;
            #main-info {
                flex: 1;
                h2 {
                    font-size: 1.6rem;
                    padding-bottom: 0.5rem;
                }
                p {
                    width: 95%;
                }
            }
            #sub-infoes {
                flex: 1;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                div {
                    flex: 1;
                    position: relative;
                    img {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(0,-50%);
                        height: 41px;
                    }
                    p {
                        position: absolute;
                        left: 2.3rem;
                        top: 50%;
                        transform: translate(0,-50%);
                        padding-left: 0.5rem;
                        font-size: 1rem;
                    }
                }
            }
        }
        
    }
}

@media only screen and (max-width: 1300px) {
    section {
        >div {
            #information {
                width: 30rem;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    section {
        height: 525px;
        >img {
            display: none;
        }
        >div {
            #information {
                top: 66%;
                left: 50%;
                transform: translate(-50%,-50%);
                right: auto;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    section {
        height: 500px;
        >div {
            #information {
                width: 26rem;
                left: 4.5%;
                transform: translate(0,-50%);
            }
        }
    }
}