<section>
    <img src="/assets/train_image1.png" alt="">
    <div>
        <div id="information">
            <div id="main-info">
                <h2>Train tickets</h2>
                <p>To purchase a railway ticket each passenger must provide their identification. Please prepare this information in advance.</p>
            </div>
            <div id="sub-infoes">
                <div>
                    <img src="/assets/info1.png" alt="">
                    <p>Unlimited offers</p>
                </div>
                <div>
                    <img src="/assets/info2.png" alt="">
                    <p>24/7 Support</p>
                </div>
                <div>
                    <img src="/assets/info3.png" alt="">
                    <p>100% Safe</p>
                </div>
                <div>
                    <img src="/assets/info4.png" alt="">
                    <p>100% Safe payment</p>
                </div>
            </div>
        </div>
    </div>
</section>