<section id="check-ticket-section">
    <div id="title">
        <p>Enter ticket id</p>
    </div>
    <div id="check-ticket-div">
        <input #ticketID type="text">
        <button (click)="checkTicketStatus(ticketID)">Check</button>
    </div>
    <div id="ticket-not-found" *ngIf="ticketNotFound">
        <p>Ticket has not been found, please verify the ticket number.</p>
    </div>
</section>

<app-ticket-document *ngIf="ticketNotFound == false" [ticketData]="ticketData" [ticketIsPaidFor]="ticketIsPaidFor"></app-ticket-document>