section {
    margin-top: 50px;
    margin-left: 7rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
    #title {
        margin-top: 70px;
    }
    #check-ticket-div {
        margin-top: 6.5px;
        display: flex;
        flex-flow: row wrap;
        gap: 0.5rem;
        input {
            flex: 3;
            height: 41px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            padding-left: 0.8rem;
        }
        button {
            flex: 1;
            background-color: rgb(40, 64, 191);
            color: white;
            font-size: 1rem;
            height: 41px;
            border-top-right-radius: 6.5px;
            border-bottom-right-radius: 6.5px;
            border: none;
            &:hover {
                transition-duration: 0.3s;
                background-color: rgb(65, 95, 226);
            }
        }
    }
}


@media print {
    #check-ticket-section {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    section {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 425px) {
    section {
        margin-bottom: 0;
        #check-ticket-div {
            input {
                flex: 2;
                height: 32px;
            }
            button {
                flex: 1;
                height: 32px;
                font-size: 1.05rem;
            }
        }
    }
}