section {
    margin-top: 50px;
    margin-left: 7rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
    #title {
        margin-top: 70px;
    }
    #check-ticket-div {
        margin-top: 6.5px;
        position: relative;
        input {
            height: 41px;
            width: 53rem;
            border: 1px solid rgba(0, 0, 0, 0.15);
            padding-left: 0.8rem;
        }
        button {
            position: absolute;
            top: 50%;
            right: 14%;
            transform: translate(0,-50%);
            background-color: rgb(40, 64, 191);
            color: white;
            font-size: 1rem;
            width: 8rem;
            height: 37px;
            border-top-right-radius: 6.5px;
            border-bottom-right-radius: 6.5px;
            border: none;
            &:hover {
                transition-duration: 0.3s;
                background-color: rgb(65, 95, 226);
            }
        }
    }
}


@media print {
    #check-ticket-section {
        display: none;
    }
}