<section>
    <p>reserve a train ticket</p>
    <form>
        <select  name="" id="">
            <option [defaultSelected]="true" value="">From</option>
            <option value="">Tbilisi</option>
            <option value="">Batumi</option>
            <option value="">Poti</option>
        </select>
        <select name="" id="">
            <option [defaultSelected]="true" value="">To</option>
            <option value="">Tbilisi</option>
            <option value="">Batumi</option>
            <option value="">Poti</option>
        </select>
        <input type="date">
        <input type="text" placeholder="Number of passenger">
        <button></button>
    </form>
</section>