section {
    height: 180px;
    width: 71.2rem;
    border-radius: 12px;
    box-shadow: 1px 1px 11px -8px rgba(0,0,0,0.75);
    z-index: 99;
    margin: auto;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%,50%);
    padding: 27px 1.8rem;
    > p {
        font-size: 1.5rem;
    }
    form {
        margin-top: 36px;
        select,input {
            padding-left: 0.6rem;
            color: rgb(117, 117, 117);
            border: 1px solid rgba(0, 0, 0, 0.2);
            height: 48px;
            font-size: 0.85rem;
            outline: none;
        }
        select {
            width: 12rem;
            appearance: none;
            -webkit-appearance: none;
        }
        .custom-select {
            position: relative;
            display: inline-block;
            margin-right: 1rem;
            p {
                position: absolute;
                right: 0.6rem;
                top: 50%;
                transform: translate(0,-50%);
                font-size: 0.9rem !important;
                color: rgb(117, 117, 117);
                height: fit-content;
                width: fit-content;
                i {
                    transition-duration: 0.15s;
                }
            }
        }
        input {
            width: 13rem;
        }
        #number-of-passengers {
            margin-right: 1rem;
        }
        .custom-date-input-div {
            position: relative;
            display: inline-block;
            font-size: 0.85rem;
            margin-right: 1rem;
            p {
                position: absolute;
                left: 0.6rem;
                top: 50%;
                transform: translate(0,-50%);
                color: rgb(117, 117, 117);
            }
        }
        button {
            height: 48px;
            width: 12rem;
            font-size: 0.95rem;
            background-color: rgb(40, 64, 191);
            color: white;
            border-radius: 6px;
            border: none;
            margin-left: 0.1rem;
            &:hover {
                transition-duration: 0.3s;
                background-color: rgb(65, 95, 226);
            }
            &:disabled {
                background-color: rgb(140, 166, 255);
                cursor: default;
            }
            
        }
    }
}
::-webkit-calendar-picker-indicator {
    padding-right: 13rem;
    scale: 2;
}