#about-ticket-and-the-document {
  margin-top: 50px;
  margin-left: 7rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  width: 70rem;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  margin-top: 30px;
}
#about-ticket-and-the-document #is-paid-for {
  padding-top: 24px;
  margin-bottom: 26px;
}
#about-ticket-and-the-document #is-paid-for p {
  margin-top: 0.7rem;
  text-align: center;
  font-size: 1.2rem;
}
#about-ticket-and-the-document #is-paid-for-icon {
  margin: auto;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  position: relative;
}
#about-ticket-and-the-document #is-paid-for-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.35rem;
}
#about-ticket-and-the-document #about-ticket {
  background-color: rgb(246, 246, 255);
  height: 1100px;
  width: 94%;
  margin: auto;
  position: relative;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  min-height: 860px;
  width: 750px;
  background-color: white;
  padding: 30px;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document h4 {
  padding-top: 18px;
  display: inline-block;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document img {
  position: absolute;
  right: 30px;
  height: 75px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #ticket-id {
  margin-top: 55px;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #ticket-id span {
  font-weight: bold;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document .table {
  min-height: 40px;
  margin-top: 35px;
  border-radius: 8px;
  border: 2px solid rgb(236, 238, 244);
  display: flex;
  flex-flow: row wrap;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document .table div {
  flex: 1;
  padding: 16px;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document .table div p {
  font-size: 17px;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document .table div .info {
  padding-top: 6px;
  font-weight: bold;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #contact-information {
  margin-top: 38px;
  font-weight: bold;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #passengers-information {
  margin-top: 38px;
  margin-bottom: 30px;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #passengers {
  height: 160px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #passengers::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #passengers .passenger {
  min-height: 40px;
  margin-top: 6px;
  border-radius: 8px;
  border: 2px solid rgb(236, 238, 244);
  display: flex;
  flex-flow: row wrap;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #passengers .passenger div {
  flex: 1;
  padding: 16px;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #passengers .passenger div p {
  font-size: 17px;
  display: inline-block;
  padding-right: 10px;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #passengers .passenger div .info {
  padding-top: 6px;
  font-weight: bold;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #line {
  margin-top: 40px;
  height: 1.5px;
  width: 100%;
  background-color: black;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #total-price-text {
  margin-top: 20px;
  margin-left: 400px;
  font-weight: bold;
  display: inline-block;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #total-price {
  display: inline-block;
  margin-left: 150px;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #the-invoice-info {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
}
#about-ticket-and-the-document #about-ticket #about-ticket-document #download-the-ticket {
  margin-top: 4px;
  text-align: center;
  font-size: 0.9rem;
  color: red;
}
#about-ticket-and-the-document #about-ticket #print-button {
  position: absolute;
  top: 10%;
  left: 82.5%;
  background-color: white;
  color: rgb(65, 95, 226);
  font-size: 1rem;
  width: 2.6rem;
  height: 45px;
  border: none;
}
#about-ticket-and-the-document #about-ticket #print-button:hover {
  transition-duration: 0.5s;
  color: rgb(40, 64, 191);
}
#about-ticket-and-the-document #about-ticket #delete-button {
  position: absolute;
  bottom: 35px;
  left: 35px;
  background-color: red;
  color: white;
  font-size: large;
  width: 11.6rem;
  height: 48px;
  border-radius: 6px;
  border: none;
}
#about-ticket-and-the-document #about-ticket #delete-button:hover {
  transition-duration: 0.3s;
  background-color: rgb(65, 95, 226);
}

@media print {
  #about-ticket-and-the-document {
    width: 80%;
    height: 940px !important;
    background-color: blue I !important;
  }
  #about-ticket-and-the-document > button {
    display: none;
  }
  #about-ticket-and-the-document #is-paid-for {
    display: none;
  }
  #about-ticket-and-the-document #about-ticket {
    background-color: white !important;
    height: 850px !important;
  }
  #about-ticket-and-the-document #about-ticket #about-ticket-document {
    top: 0 !important;
    width: 100% !important;
    height: 850px !important;
  }
  #about-ticket-and-the-document #about-ticket #print-button {
    display: none;
  }
  #about-ticket-and-the-document #about-ticket #delete-button {
    display: none;
  }
}/*# sourceMappingURL=ticket-document.component.css.map */