<section id="enter-information-section">
    <h3>Enter passenger information</h3>
    <div id="passenger-data">
        <div> 
            <p class="first-paragraph">#{{trainData?.number}}</p>
            <p class="second-paragraph">{{trainData?.name}}</p>
        </div>
        <div>
            <p class="first-paragraph">{{trainData?.departure}}</p>
            <p class="second-paragraph">{{trainData?.from}}</p>
        </div>
        <div>
            <p class="first-paragraph">{{trainData?.arrive}}</p>
            <p class="second-paragraph">{{trainData?.to}}</p>
        </div>
    </div>
    <div class="line"></div>
    <h2 id="contact">Contact</h2>
    <form id="contact-form">
        <input name="isa" [(ngModel)]="email" placeholder="Email" type="text">
        <input name="esa" [(ngModel)]="phone" placeholder="Phone number" type="text">
    </form>
    <h2 id="about-passengers">About passenger</h2>
    <div id="passengers">
        <div class="passenger" *ngFor="let item of arrayOfPassengers, let i = index">
            <h3>passenger {{i+1}}</h3>
            <div class="put-info">
                <button id="seat">Seat: {{item.seat}}</button>
                <input [(ngModel)]="arrayOfPassengers[i].firstName" placeholder="First name" type="text">
                <input [(ngModel)]="arrayOfPassengers[i].lastName" placeholder="Last name" type="text">
                <input [(ngModel)]="arrayOfPassengers[i].SSN" placeholder="SSN" type="text">
                <button id="pick-a-seat" (click)="onChoosingSeats(i)">Pick a seat</button>
            </div>
        </div>
    </div>
    <div id="about-train">
        <!-- get info from an object -->
        <div class="each-info" *ngFor="let item of trainInfoArrayOfObjects">
            <div class="image-main-div">
                <div class="image-div">
                    <img [src]="item.image" alt="">
                </div>
            </div>
            <div class="info-div">
                <h4>{{item.name}}</h4>
                <p class="item-description">{{item.description}}</p>
                <p *ngIf="item.included" class="included"><i class="fa-regular fa-square-check"></i> Included</p>
                <p *ngIf="!item.included" class="included"><i class="fa-regular fa-circle-xmark"></i> Not included</p>
            </div>
        </div>
    </div>
    <div class="line"></div>
</section>

<div *ngIf="choosingSeats" id="background-for-choosing-a-seat">
    <div id="choose-a-seat-and-a-wagon">
        <div id="choose-a-seat-main-div">
            <div id="colors">
                <div>
                    <div id="avaliable"></div>
                    <p>Avaliable</p>
                </div>
                <div>
                    <div id="selected"></div>
                    <p>Selected</p>
                </div>
                <div>
                    <div id="unavaliable"></div>
                    <p>Unavaliable</p>
                </div>
            </div>
            <div id="choose-a-seat-div">
                <div id="the-vagon">
                    <button 
                    (click)="onChoosingASeat($event)"  
                    *ngFor="let item of currentlyChosenWagon.seats, let i = index" 
                    [ngClass]="
                    [
                        item.isOccupied ? 'is-occupied' : 'is-not-occupied',
                        arrayOfPassengers[theCurrentPassenger].wagon == currentlyChosenWagon.name
                        && arrayOfPassengers[theCurrentPassenger].seat == item.number
                        ? 
                        'is-selected' : '0'
                    ]">
                    {{item.number}}
                    </button>
                </div>
            </div>
        </div>
        <div id="choose-a-wagon-div">
            <div id="rails"></div>
            <button #chooseASeat (click)="onChoosingWagons($event)" *ngFor="let item of trainData.vagons">{{item.name}}</button>
        </div>
        <div id="close-the-window">
            <p (click)="closeTheChoosingSeats()"><i class="fa-sharp fa-solid fa-xmark"></i></p>
        </div>
    </div>
</div>

<section id="invoice">
    <h3>Invoice</h3>
    <p id="seat-text">Seat</p>
    <p id="price-text">Price</p>
    <div id="line"></div>
    <div id="seat-and-prices">
        <ng-container *ngFor="let item of arrayOfPassengers">
            <div *ngIf="item.seat !== ''" class="seat-and-price">
                <p class="seat">{{item.seat}}</p>
                <p class="price">${{item.price}}</p>
            </div>
        </ng-container>
    </div>
    <div id="sum-div">
        <p id="sum-text">Sum:</p>
        <p id="sum">${{sum}}</p>
    </div>
    <button (click)="navigateToPayment()">Payment</button>
</section>

<section id="information-section">
    <p>
        In the bustling market towns dotted along the railway's path, Step Railway serves as a vital link to urban centers, facilitating the flow of goods, services, and people.
        <br><br>
        Step Railway is not just a mode of transportation; it's a lifeline for the diverse communities it serves along its route.
    </p>
</section>